name: Build/Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, reopened, labeled, synchronize]

jobs:
  ubuntu_build:
    name: Build and test ${{ matrix.name }}
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}
    strategy:
      matrix: 
        include:
        #  - name: cmake:gcc9:ubuntu.22.04
        #    build_system: cmake
         #   c_compiler: gcc-9
        #    cxx_compiler: g++-9
        #    os: ubuntu-22.04
            
       #   - name: cmake:gcc10:ubuntu.22.04
        #    build_system: cmake
          #  c_compiler: gcc-10
        #    cxx_compiler: g++-10
          #  os: ubuntu-22.04
            
          - name: cmake:gcc11:ubuntu.22.04
            build_system: cmake
            c_compiler: gcc-11
            cxx_compiler: g++-11
            os: ubuntu-22.04
            
          - name: cmake:gcc12:ubuntu.22.04
            build_system: cmake
            c_compiler: gcc-12
            cxx_compiler: g++-12
            extra_apt_pkgs: gcc-12 g++-12
            os: ubuntu-22.04

          - name: cmake:gcc14:ubuntu.24.04
            build_system: cmake
            c_compiler: gcc-14
            cxx_compiler: g++-14
            extra_apt_pkgs: gcc-14 g++-14 libbrotli-dev
            os: ubuntu-24.04
            
    env:
      CC: ${{ matrix.c_compiler || 'gcc' }}
      CXX: ${{ matrix.cxx_compiler || 'gcc' }}
    steps:
    - name: Install extra deps @ Ubuntu
      if: ${{ runner.os == 'Linux' }}
      run: |
        EXTRA_PACKAGES="${{ matrix.extra_apt_pkgs || '' }}"
        sudo apt update
        sudo apt install -y ${EXTRA_PACKAGES} ca-certificates build-essential patch git libtool autoconf automake perl bash libldap2-dev libsasl2-dev libzstd-dev libatomic-ops-dev zlib1g-dev libluajit-5.1-dev libpcre2-dev libyajl-dev libxml2-dev libxslt1-dev libcurl4-openssl-dev liblmdb-dev libfuzzy-dev lua5.1 lua5.3 liblua5.3-dev libgeoip-dev libmaxminddb-dev python3 libcjson-dev uthash-dev libgd-dev apt-utils pkgconf doxygen wget libgd-dev valgrind libc-ares-dev libperl-dev flex bison libsodium23 libsodium-dev clang lld 
    - name: Checkout the source
      uses: actions/checkout@v6
      with:
        submodules: true
        fetch-depth: 1
    - name: Run compile script
      run: script/.actions-compile.sh
    - name: Run before test script
      run: script/.actions-before-test.sh
    - name: Test script
      run: script/.actions-test.sh
